@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Fira Sans", serif;;
}

body{
    margin: 0 50px;
}

main{
    background:rgb(245, 245, 245);
}

section{
    margin-bottom: 100px;
}

#navBar{
    margin-bottom: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

nav>p{
    color: green;
    font-weight: 500;
    font-size: large;
}

nav>p>span{
    color: red;
}

nav>button>a{
    text-decoration: none;
    color: green;
}

nav>button{
    color: green;
    background-color:ghostwhite;
    border: 1px solid green;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
padding: 5px 20px ;
font-size:16px;
}


#hero{
height: 500px;
width: auto;
border-radius: 24px;
background: rgb(198, 228, 214);
display: flex;
justify-content: space-around;
align-items: center;

}

#heroText>p{
color: rgba(14, 14, 14, 0.5);
font-size: 21px;
font-weight: 500;
margin-bottom: -40px;
}

#heroText>h1{
width: 553px;
font-size: 50px;
}

.btn{
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 16px;
border: 0;
padding: 15px;
}

.btn:hover{
background: rgba(0, 106, 80, 0.500);
color: black;
}

.sectionHead{
    color: rgb(14, 14, 14);
font-size: 35px;
font-weight: 700;
}

.cards{
    display: flex;
  justify-content: space-between;
}


.pillarsCard{
    background-color: white;
    width: 268px;
    height: auto;
    padding: 20px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
}

.cardImg{
    width: 43px;
    height: 47px;
    margin-bottom: 10px;
}

.cardHead{
    color: rgba(14, 14, 14, 0.8);
    font-size: 18px;
    font-weight: 700;
}

.cardPara{
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
}

.visionCard{
    width: 365px;
    padding: 25px;
}

#vCard1{
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}

#btn1{
    border-radius: 8px;
background: rgb(84, 144, 245);
}

#btn1:hover{
    background: rgba(84, 144, 245, 0.500);
}

#vCard2{
border-radius: 16px;
 background: rgb(198, 228, 214);
}

#btn2{
    border-radius: 8px;
background: rgb(9, 161, 92);
}

#btn2:hover{
    background: rgba(9, 161, 92, 0.500);;
}

#vCard3{
border-radius: 16px;
background: rgb(247, 235, 207);
}
#btn3{
    border-radius: 8px;
background: rgb(255, 194, 57);
}

#btn3:hover{
    background: rgb(255, 194, 57, 0.500);
}

#yunusSays{
    width: auto;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
padding: 42px 21px;
background-image: url("assets/quote-bg.png");
background-repeat: no-repeat;
background-position: 20px 20px;
}

#yunusPara{
    color: rgba(14, 14, 14, 0.8);
}

#yunusPosition{
    color: rgba(14, 14, 14, 0.6);
    line-height: 0;
}

.newsCard{
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 24px;
background: rgb(255, 255, 255);
padding: 42px;
margin: 20px 0px;
}

.newsCard>img{
    border-radius: 21px;
}

#newsDate{
    display: flex;
    gap: 15px;
}

.newsContent>h2{
    color: rgba(14, 14, 14, 0.8);
font-size: 28.5px;
font-weight: 700;
}

#donate{
    text-align: center;
}

#donateCards{
    display: flex;
    gap:21px;
    justify-content: center;
}

.donateCard{
padding: 0 25px;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}

.donateCard:hover{
    background: rgb(198, 228, 214);
}

#donate200{
    background: rgb(198, 228, 214);
}

.donateCard>h2{
    color: rgba(14, 14, 14, 0.8);
font-size: 35px;
font-weight: 700;
}

.donateAmount{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.donateAmount>input{
 border: 1px solid rgba(14, 14, 14, 0.15);
 border-radius: 5px;
 padding: 15px;
 text-align: center;
background: rgb(255, 255, 255);
width:95%;
margin-top: 30px;
margin-bottom: 20px;
color: rgba(14, 14, 14, 0.3);
font-size: 18px;
font-weight: 400;
}

#newsletter{
    text-align: center;
    border-radius: 24px;
background: rgb(198, 228, 214);
padding: 70px 90px;
}

#subscribe{
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#subscribe>input{
    border: 0;
    border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
padding: 15px;
width: 100%;
color: rgba(14, 14, 14, 0.3);
font-size: 16px;
font-weight: 400;
}

#subscribe>button{
    border-radius: 0px 8px 8px 0px;
    border: 0;
}

#newsletter>p{
width: 50%;
margin: auto;
}